* {
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    color: rgba(0,0,0,.87);
    line-height: 1.8;

}

.topbar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #FFF;  
    padding: 3Opx; 
}
.topbar nav{
    float: left;
    
}

.topbar nav a{
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
    line-height: 23px;
}

.topbar nav a:hover, .topbar nav a:active{
    color: #000;
}
.topbar .social{
    
}